* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    margin: 2vw;
}

#search {
    padding: 1vh 5vw;
    font-family: 'DM Mono', monospace;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

select, input {
    font-family: 'DM Mono', monospace;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #3694c7;
    border-bottom-width: 3px;
    margin-right: 4vw;
    margin-left: 1vw;
}

select:focus, input:focus {
    border-bottom-color: black;
    /* transform: scale(0.1, 1); */
    transition: all 0.4s;

}

.no-cursor {
    cursor: default !important;
}

#listview section a {
    display: flex;
    padding: 2vw;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
    transition: 0.4s;
}

#listview section a:hover {
    cursor: pointer;
}

#listview section {
    display: block;
    transition: 0.4s;
}

#listview section:nth-child(odd) {
    background-color: #3694c7;
}

#listview section:nth-child(odd) .project-description {
    background-color: #3694c7;
}

#listview section:nth-child(odd) > * {
    color: white;
}

#listview section:nth-child(odd) .project-description > a {
    color: white;
}

#headerimage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/Untitled.png');
    /*url("images/headerimage.jpeg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#headerimage h1 {
    font-family: 'DM Mono', monospace;
    text-align: center;
    color: white;
    padding: 50px;
}

#headerbuttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#headerbuttons a {
    text-decoration: none;
    font-family: sans-serif;
    min-width: 100px;
}

#headerbuttons a:hover, a:active {
    background: transparent;
}

.box-1 {
    margin: 2vw;
}

.box-2 {
    position: absolute;
    top: 56px;
    right: 50px;
    color: white;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 200px;
    cursor: pointer;
}

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #3694c7;
    border-bottom-color:#3694c7;
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}

.btn-two {
    color: #FFF;
    transition: all 0.5s;
    position: relative; 
    width: 150px;
}

.btn-two span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;   
}

.btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid #3694c7;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid #3694c7;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}

.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}

#info {
    display: flex;
    padding: 6vw;
    flex-direction: column;
}

#info > .images {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#info > .images > .image {
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 100px;
    display: inline-block;
    background-position: center;
    margin: 30px;
}

#info > .images :nth-child(1) {
    background-image: url('https://www.hightechhigh.org/hth/wp-content/themes/HTH/assets/images/?img=HTHLogo');
}

#info > .images :nth-child(2) {
    background-image: url('https://www.hightechhigh.org/hthm/wp-content/uploads/sites/32/2018/05/HTHM-logo.svg');
}

#info > .images :nth-child(3) {
    background-image: url('https://www.hightechhigh.org/hthma/wp-content/uploads/sites/12/2016/08/hthma.jpg');
}

#info > .images :nth-child(4) {
    background-image: url('https://www.hightechhigh.org/hthi/wp-content/uploads/sites/11/2016/08/hthi.jpg');
}

.text {
    font-family: sans-serif;
    padding: 7vw;
    padding-left: 20vw;
    padding-right: 20vw;
    background-color: #3694c7;
    color: white;
}

.text a {
    color: black;
}

.text h1 {
    text-align: center;
    font-family: 'DM Mono', monospace;
    padding-bottom: 20px;
}
/*
.projects-images > div {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.projects-images > div > article {
    margin: 0;
    padding: 0;
    width: 25%;
    height: 25vw;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.projects-images > div :nth-child(1) {
    background-image: url('http://hthmfarmtomesa.com/images/IMG_1362.JPG');
}

.projects-images > div :nth-child(4) {
    background-image: url('http://hthmfarmtomesa.com/images/IMG_4036.JPG');
}

.projects-images > div :nth-child(2) {
    background-image: url('http://hthmfarmtomesa.com/images/IMG_7556.jpg');
}

.projects-images > div :nth-child(3) {
    background-image: url('http://hthmfarmtomesa.com/images/IMG_7796.JPG');
}

.second-section > div :nth-child(1) {
    background-image: url('http://hthmfarmtomesa.com/images/IMG_1362.JPG');
}

.second-section > div :nth-child(2) {
    background-image: url('http://hthmfarmtomesa.com/images/IMG_1362.JPG');
}

.second-section > div :nth-child(3) {
    background-image: url('http://hthmfarmtomesa.com/images/IMG_1362.JPG');
}

.second-section > div :nth-child(4) {
    background-image: url('http://hthmfarmtomesa.com/images/IMG_1362.JPG');
}

*/

main {
    margin-top: 6vw;
    margin-bottom: 6vw;
}

.main-title {
    text-align: center;
    font-family: 'DM Mono', monospace;
    margin-bottom: 3vw;
}

.small-item {
    flex: 1;
}

.item-name {
    flex: 5;
}

.item-teacher {
    flex: 2;
}

.item {
    margin-bottom: auto;
    margin-top: auto;
}

.expand {
    background-image: url("icons/zoom_in-24px.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.box-popup {
    border-radius: 20px;
    background-color: white;
    width: 60vw;
    height: 70vh;
    margin: auto;
    margin-top: calc((100vh - 70vh)/2);
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.side-image {
    height: 100%;
    min-width: 50%;
    max-width: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.project-description {
    padding: 2vw;
    font-family: sans-serif;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.project-description div {
    padding-right: 2vw;
    padding-left: 2vw;
}

.project-description div h1 {
    text-align: center;
    padding: 2vw;
}

.project-description a {
    margin: 2vw;
    padding: 2vw 3vw;
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    color: black;
    cursor: pointer;
}

.closeSpan {
    font-family: sans-serif;
}

footer {
    background-color: black;
    padding: 4vw;
    padding-bottom: 8vw;
}

footer h1 {
    text-align: center;
    font-family: 'DM Mono', monospace;
}

footer > * {
    color: white;
    font-family: sans-serif;
}

footer a {
    text-decoration: none;
    color: rgb(200, 200, 200);
}

footer span {
    padding: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: block;
    text-align: center;
}

footer h5 {
    text-align: right;
}